/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


@font-face {
	font-family: Roboto-Bold;
	src: url('../fonts/Roboto-Bold.ttf') format("opentype");
}
@font-face {
	font-family: Roboto-Light;
	src: url('../fonts/Roboto-Light.ttf') format("opentype");
}
@font-face {
	font-family: Roboto-Medium;
	src: url('../fonts/Roboto-Medium.ttf') format("opentype");
}
@font-face {
	font-family: Roboto-Semibold;
	src: url('../fonts/Roboto-Regular.ttf') format("opentype");
}
@font-face {
	font-family: Clan-Bold;
	src: url('../fonts/ClanOT-Bold.woff') format("opentype");
}

@font-face {
	font-family: Clan-Book;
	src: url('../fonts/ClanOT-Book.woff') format("opentype");
}

@font-face {
	font-family: Clan-Medium;
	src: url('../fonts/ClanOT-Medium.woff') format("opentype");
}

@font-face {
	font-family: Clan-Thin;
	src: url('../fonts/ClanOT-Thin.woff') format("opentype");
}



body {
  font-family: "Roboto-Regular", sans-serif;
  
}



h1 {
  font-family: "Clan-Bold", sans-serif;
  font-size: 36px;
  font-weight: unset;
 
}


h2, h3, h4, h5, h6 {
  font-family: "Clan-Bold", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: unset;
  margin-bottom: 0;

}

h3 span {
  font-family: "Clan-Book", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  

}




p {
  font-family: "Roboto-Regular";
  color: #707070;
  font-size: 12px;

}



p span {

  font-family: Roboto-Medium;

}

p.robotomed {
  font-family: Roboto-Medium;
}


.txtf14 {
  font-size: 14px;
}





a {
  font-family: "Roboto-Medium";
  color: #53565A;
  text-transform: uppercase;
  
}


a:hover {
  color: #FFFFFF;
  text-decoration: none;
}



/* colours */
.bgcolor-pgwhite {
  background-color: #FFFFFF;
}

.bgcolor-pgreen {
  background-color: #D0DF00;
}
.bgcolor-pgreenli {
  background-color:#E3E935;
}

.bgcolor-pgreenBF {
  background-color:#BFD74D;
}

.bgcolor-pgreendar {
  background-color:#B5BD00;
}
.bgcolor-greybasic {
  background-color: #63666A;
}
.bgcolor-greydark {
  background-color: #53565A;
}
.bgcolor-greylight {
  background-color: #97999B;
}

.bgcolor-grey80 {
  background-color: #808080;
}


.bgcolor-greylight2 {
  background-color: #F5F5F5;
}

.txtcolor-pwhite {
  color: #FFFFFF;
}


.txtcolor-pgreen {
  color: #D0DF00;
}
.txtcolor-pgreenli {
  color:#E3E935;
}
.txtcolor-pgreendar {
  color:#B5BD00;
}
.txtcolor-greybasic {
  color: #63666A;
}
.txtcolor-greydark {
  color: #53565A;
}
.txtcolor-greylight {
  color: #97999B;
}



/***** Sidebar *****/

.sidebar {
	width: 290px; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  overflow: auto; 
  right: -292px;
   z-index: 999; 
	background: #BFD74D; 
  color: #fff;
  transition: all .3s; 
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active { 
  right: 0; 

}

.contsidetop {
  padding: 10px;
}

.dismiss {
	width: 120px; 
  height: 35px; 
  transition: all .3s; 
  text-align: center;
  cursor: pointer;
}

.dismiss p {
  color: #4D532D;
	font-size: 16px;
  margin-top: 5px;
    margin-bottom: 0;
}

.dismiss p:hover, .dismiss:focus { 
  color: #fff; 
}

.contlangs a {
  margin: 5px ;
  font-size: 16px;
}

.contlangs .linesep{
  font-size: 16px;
  line-height: 31px;
  margin-bottom: 0;
}



.contlangs a.active {
  color: #FFFFFF;
}
 




.sidebar ul.menu-elements { 
  padding: 0 10px; 
  
  transition: all .3s; 
}

.sidebar ul li a {
	display: block; 
  border-top: 1px solid #9DB043;
  height: 60px;
  color: #fff;
  padding-top: 17px;
  padding-right: 10px;
  padding-left: 10px;

}

.sidebar ul li a:last-child {
	
  border-bottom: 1px solid #9DB043;
 

}

.sidebar ul li a .fa-plus {
  float: right;
  font-size: 22px;
  display: block;
  margin-right: 20px;
  

}

.sidebar .contsocial  {
	
  width: 80%;
    margin: auto;
    margin-top: 40px;
 

}



.sidebar .contsocial a {
	
  font-size: 25px;
  color: #FFFFFF;
 

}

.sidebar .contsocial a:hover {
	
  cursor: pointer;
  color: #63666A;
 

}



.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { 
  outline: 0;
  background: #97999B; 
  color: #fff; 
}

.sidebar ul li a i { 
  margin-right: 5px; 
}



.sidebar ul ul a { 
  background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { padding: 20px; text-align: center; }

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }




/***** Dark overlay *****/

.overlay {
    display: none; position: fixed; width: 100vw; height: 100vh; 
    background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
}

.overlay.active { display: block; opacity: 1; }


/***** Content *****/


.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}


/*--------------------------------------------------------------
# Header
------------------------------------------
*/
.navbar {
  background-color: #FFFFFF;
  background-image: url(../img/home/navbggreensquare.svg);
  background-position: right;
  background-size: 85px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);

z-index: 900;
padding: 0;
}

.menucont{
  z-index: 1001;
}

.menucont img {
  
  width: 114px;

}

.contnavrig {
  display: block;
  width: 230px;
  height: 100%;
  padding: 14px 15px ;

}

.contnavrig .navbar-right {
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  

}

.contnavrig .navbar-right li a {
  font-size: 16px;
  float: left;

}

.contnavrig .navbar-right li .limail {
  font-size: 17px;
    line-height: 22px;
  
}

.contnavrig .navbar-right li a.active {

  color: #FFFFFF;

}

.contnavrig .navbar-right li .linesep {
  
  font-size: 19px;
line-height: 22px;
margin: 0;
padding: 0;

}






/* Burger */
.burger {
  margin-top: 7px;
    float: right;
    display: inline-block;
    cursor: pointer;
    position: relative;

    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 36px;
    height: 34px;
    

}

.burger:before, .burger span, .burger:after {
  width: 64%;
  height: 2px;
  display: block;
  background: #ffffff;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
  right: 6px;
}

.burger:before, .burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 7px;
}

.burger span {
  top: 14px;
}

.burger:after {
  top: 21px;
}

/* Hover */
.burger:hover:before {
  top: 6px;
}

.burger:hover:after {
  top: 22px;
}

/* Click */
.burger.active span {
  opacity: 0;
}

.burger.active:before, .burger.active:after {
  top: 49%;
}

.burger.active:before {
  transform: rotate(45deg);
}

.burger.active:after {
  transform: rotate(-45deg);
}

.burger:focus {
  outline: none;
}



.pulse {
  overflow: visible;
  position: relative;
}
.pulse:before {
  content: '';
  display: block;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0B2240;
  border-radius: inherit;
  transition: opacity .3s, transform .3s;
  animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1;
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.play-btn {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

.play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 3s;
  animation: pulsate-btn 3s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 153, 97, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

 .play-btn:hover::after {
  border-left: 15px solid #009961;
  transform: scale(20);
}

.play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}


@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@media (min-width: 1024px) {

}

@media (max-width: 768px) {
  
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #978548;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  
  display: block;
  margin:30px auto;
  width: max-content;
  z-index: 99999;
  color: #D0DF00;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  border: 2px solid #D0DF00;
}


.back-to-top .fa-arrow-up {
  margin: 6px 0;
  font-size: 24px;
  
  
}

.back-to-top:hover {
  border: 2px solid #63666A;
  color: #63666A;
}





/*--------------------------------------------------------------
# MODAL
--------------------------------------------------------------*/

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
}


.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.close:hover {
color: #0B2240 ;
  }



button.close {
  outline: none;
}


#seccionvvid {

  background-color: #0B2240;
  background-image: url(../img/bgvervid.jpg);
  height: 200px ;
  background-size: cover;
  background-repeat: no-repeat;

}

#seccionvvid .btnvervid {
  margin: 25px auto 10px;
  color: #ffffff;
  background-color: #04339F;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer;
}

#seccionvvid .btnvervid i {
  display: block;
font-size: 40px;
margin: -60px auto;
}


#seccionvvid  p {
  text-transform: uppercase;
color: #ffffff;
font-size: 12px;
font-family: Gotham-Medium;


}

#seccionvvid .pulse {
  overflow: visible;
  position: relative;
}
#seccionvvid .pulse:before {
  content: '';
  display: block;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #04339F;
  border-radius: inherit;
  transition: opacity .3s, transform .3s;
  animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1;
}


/*--------------------------------------------------------------
# MOUSE EFFECT
--------------------------------------------------------------*/

.moving-mouse-holder {
  margin: auto;
  margin-top: 15%;
  width: 170px;
  margin-bottom: 75px;
}

.moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  margin: auto;
  border-radius: 18px;
  border: 2px solid #37393F;
}

.moving-mouse-holder .mouse .fa-long-arrow-down {
  color: #37393F;
    position: relative;
    top: 29px;
    left: 4px;
    font-size: 23px;
}



.moving-mouse-holder .mouse-button {
  background-color:#37393F;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

.moving-mouse-holder .text {
  margin-top: -30px;
  margin-left: 40px;
  color: #33cc66;
  font-size: 12px;
  line-height: 1em;
}

#btnmouse span {
  font-size: 11px;
  width: 200px;
  display: block;
  position: absolute;
  top: 8px;
  left: 30px;
} 

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}


/*--------------------------------------------------------------
#  HOME
--------------------------------------------------------------*/

#myVideo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height:auto;
}


#section1 {
  background-color: #D0DF00;
  height: 100vh;
  margin-top: 50px;
  max-height: 728px;
}

.rowpb {
  padding-top: 10%;
}

#navslides {
  list-style: none;
  padding: 0;
  width: fit-content;
  height: 250px;
} 

#navslides li a {
  font-family: Roboto-regular;
  color: rgba(255, 255, 255, .5);
  display: block;
  margin: 20px 0;
  transition: all .2s ease-in-out;
  
} 

#navslides li a.active {
  font-size: 20px;
  color: #D0DF00;
  
} 


#navslides li a .linegreen {
  width: 14px;
  height: 2px;
  display: inline-block;
  background-color: #FFFFFF;
  margin-right: 10px;
  margin-bottom: 7px;
  
} 

#navslides li a.active .linegreen {
  width: 50px;
  height: 2px;
  display: inline-block;
  background-color: #D0DF00;
  margin-right: 10px;
  margin-bottom: 10px;
  
} 

#navslides li a:hover {
 
  color: #FFFFFF;

  font-size: 15px;
  
} 

#navslides li a.active:hover {
  font-size: 20px;
  color: #FFFFFF;
  
} 

.conspemt {
  margin-top: 5%;
}

#contdown {
  background-color:rgba(255, 255, 255, 0.2);
    padding:10px 20px;
  border: 1px solid #FFFFFF; 
  width: 440px; 
}

#contdown .col-lg-6 {
  padding-left: 30px;  
}

#contdown .col-lg-6:last-child {
  border-left: 1px dotted #FFFFFF;
}

#contdown p {
 font-size: 16px;
 text-transform: uppercase;
}

#contdown img {
  margin-right: 20px;
  width: 40px;
  height: auto;
  display: inline-block;
}

#contdown a {
  background-color: #8E9D9E;
  padding: 5px;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  width: 100px;
  font-size: 14px;
  text-transform: uppercase;
}

#contdown a:hover {
  
  color: #D0DF00;
  
}

#section2 {
background-color: #F5F5F5;
background-image: url(../img/home/bg-sec2-map.svg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
 height: 768px;
padding-top: 6em;

}


#section2  img {

  display: block;
  width: 100%;
  height: 238px;
 
 
}

.contwhits {
  background-color: #FFFFFF;
  padding:15px 20px;
}

.titles1 {
  
  font-size: 20px;
  text-transform: uppercase;
  line-height: 26px;
  font-family: Clan-Book;
  
  margin-bottom: 16px;
}

#section2 .titles1 {

  height: 72px;

}





.titles1 span {
  
  
  text-transform: uppercase;
  line-height: 22px;
  font-family: Clan-Medium;
}

.txth {
  height: 126px;
} 

.btngreen {
  display: block;
  background-color: #D0DF00;
  color:#53565A;
  padding: 8px 15px;
  width: fit-content;
  font-size: 14px;
  margin-bottom: 20px;
}

.btngreen svg {
  margin-right: 10px;
}

.btngreen:hover {
 
  color: #FFFFFF;
 
}

#section3 {
  background-color: #53565A;
  background-image: url(../img/home/bg-secnoticias.jpg);
  background-size: cover;
  background-position:bottom center;
  background-repeat: no-repeat;
   padding-top: 6em;
   height: 768px;
  
  
}


#section3 h2 {
  
  margin-bottom: 40px;
  
}

#news-slider {
  
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #ffffff;
}



.post-slide{

  margin: 0 10px;
  padding: 0 ;
  background-color: #FFFFFF;
 
}
.post-slide .post-img{
  position: relative;
  
  margin-bottom: 10px;
}
.post-slide .post-img img{
  display: block;
  width: 100%;
  height: 116px;
}

.post-slide .contpostdes {
   height: 200px;
  padding:0 20px;

}

.post-slide .post-bar {
  padding-left: 0;
}

.post-slide .post-bar li{
  display: inline-block;
  font-size: 12px;
  color: #97999B;
  margin-right: 5px;
}

.post-slide .post-title{
  font-size: 14px;
  color: #B5BD00;
  margin: 15px 0 0;
  font-family: Clan-Bold;
  
}


.post-slide .post-description{
  font-size: 16px;
  color: #53565A;
  line-height: 24px;
  padding-bottom: 15px;
}
.post-slide .read-more{
  display: block;
  font-size: 14px;
  color: #97999B;
  width: auto;
  text-transform: none;
  

}

.post-slide .read-more svg{
  margin-right: 5px;

}


.post-slide .read-more:hover{
  text-decoration: none;
  color: #53565A;

}

.customNavigation{
  text-align: right;
}

.customNavigation .prev, .customNavigation .next {
 color: #FFFFFF !important;
 margin-left: 30px;
 font-size: 22px;
  display: inline-block;


}

.viewallne {
 
  color: #FFFFFF;
  margin: 20px auto;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  
 
  
}

.customNavigation a:hover {
  color: rgb(199, 199, 199);
  
}

#section4 {
  background-color: #D0DF00;
   padding-top: 5em;
   height: 768px;
  
  
}
#section4 p {
  font-family: Clan-Book; 
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 30px;
   
 }

#section4 p span{
 font-family: Clan-Bold; 

  
}

#section5 {
  
  padding-top: 6em;
   height: 708px;
  
  
}

#section5 .container{
  
  background-image: url(../img/home/bg-seccontact.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5em;
  padding-bottom: 3em;

  
}

#section5 h3 {
  text-align: right;
 


}

#section5 .contform p {
  text-align: right;
  width: 70px;
  margin-right: 10px;


}

#section5 .contform .btnenviar {
  
  border: 0;
  font-family: "Roboto-Medium";
  margin: 20px 0 20px 70px;
  text-transform: uppercase;

}

#section5 .contform .btnenviar:hover {
  
  cursor: pointer;

}

#section5 .contform  input[type="text"], #section5 .contform  input[type="email"], #section5 .contform  input[type="number"], #section5 .contform  textarea {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  
}

/*--------------------------------------------------------------
#  NOSOTROS
--------------------------------------------------------------*/
#secnos1 {
  background-image: url(../img/nosotros/bg-prinnos.png);
  background-position:left center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 50px;
  max-height: 728px;
}

.htxtmov {

  font-family: Clan-Medium;
  font-size: 72px;
  letter-spacing: 15px;
  margin-bottom: 0;
}

.txtsecontit {
  text-transform: uppercase;
  font-family: Clan-Book;
  font-size: 40px;
  

}

.txtdescrcap {
  text-transform: uppercase;
  font-family: 'Clan-Book';
    font-size: 16px;
    width: 65%;

}

#secnos2 {
 
  margin-top: 60px;
  height: 390px;
}


.txtsubtitls {
  text-transform: uppercase;
  font-family: Clan-Book;
  font-size: 22px;
}

.txtcifrs {
  font-family: Clan-Bold;
  font-size: 36px;
  margin-bottom: 0;
}

.seccborlef {
  
  border-left: 1px solid #707070 ;
}



#secnos2 .col-lg-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}


#secnos2 img {
  width: 80px;
 float: left;
  height: auto;
}

#secnos3 {
  background-color: #F5F5F5;
  
  
   height: auto;
  padding-top: 6em;
  
}
  
  
#secnos3  img {
  
    display: block;
    width: 100%;
    height: auto;
   
   
}

#secnos3 .contwhits {
  background-color: #FFFFFF;
  padding: 15px 20px;
  height: 180px;
}

.titles2 {
  
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  font-family: Clan-Bold;
  margin-bottom: 16px;

}

.extrmt {
  margin-top: 60px;
  
}

#secnos4 {
  background-image: url(../img/nosotros/bg-secnos4.jpg);
  background-position:center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 768px;


}

#secnos4 p {
  width: 70%;
  margin:0px auto 40px;
  line-height: 28px;


}

#secnos5 {
  background-color: #FFFFFF;
   padding-top: 6em;
   height: 728px;
  
  
}

#secnos5 .espmaxw {

 max-height: 100%;
  
  
  
}

#secnos5 .espmaxw h2 {
  padding-top: 25%;
  padding-left: 25%;
}

#secnos5 .espmaxw .txtsubtitls {
  padding-left: 25%;
  margin-top: 0;
  margin-bottom: 60px;
}

#secnos5 .espmaxw .txtarrow {
  font-size: 18px;
  margin-right: 40px;
  text-align: right;
  margin-bottom: 40px;
}

#secnos5 .espmaxw .txtarrow svg{
  font-size: 20px;
  margin-left: 10px;
  margin-top: 3px;
}

.contgreylight {
  height: 100%;
  background-color: #FAFAFA;

}

#secnos5 #news-slider {
  
  padding-bottom: 0px;
  padding-top: 0px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #ffffff;
}



#secnos5 .post-slide{
  height: 500px;
  margin: 0 10px;
  padding: 0 ;
  background-color: #ECECEC;
 
}
#secnos5 .post-slide .post-img{
  position: relative;
  
  margin-bottom: 10px;
}
#secnos5 .post-slide .post-img img{
  display: block;
  width: 100%;
  height: 200px;
}

#secnos5 .post-slide .imglogos{
  display: block;
  width: 200px;
  margin: 20px 20px 0;
 
}

#secnos5 .post-slide .imglogos3{
  display: block;
  width: 100px;
  margin:20px 20px 27px;
}

#secnos5 .post-slide .imglogos2{
  display: block;
  width: 40px;
  margin: 20px 20px 0;
}
#secnos5 .post-slide .blakspace{
  display: block;
  width: 40px;
  height: 37px;
  margin: 20px 20px 0;
}


#secnos5 .post-slide .contpostdes {
   height: 200px;
  padding:0 20px;

}

#secnos5 .post-slide .post-bar {
  padding-left: 0;
}

#secnos5 .post-slide .post-bar li{
  display: inline-block;
  font-size: 12px;
  color: #97999B;
  margin-right: 5px;
}

#secnos5 .post-slide .post-title{
  font-size: 36px;
  color: #53565A;
  margin: 15px 0;
  font-family: Clan-Bold;
  
}


#secnos5 .post-slide .post-description{
  font-size: 12px;
  color: #53565A;
  line-height: 24px;
  padding-bottom: 15px;
}
#secnos5 .post-slide .read-more{
  display: block;
  font-size: 14px;
  color: #97999B;
  width: auto;
  text-transform: none;
  

}

#secnos5 .post-slide .read-more svg{
  margin-right: 5px;

}


#secnos5 .post-slide .read-more:hover{
  text-decoration: none;
  color: #53565A;

}


#secnos6 {
  background-image: url(../img/nosotros/bg-secnos6.jpg);
  background-position:center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 768px;


}

#secnos6 p {
  width: 70%;
  margin:0px auto 40px;
  line-height: 28px;


}


#secnos7 {
  
  height: 768px;


}

#secnos7 .contgreylight {
  padding: 90px 40px 0px 115px;
  height: 768px;
}


.titles3 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 27px;
  margin-bottom: 16px;
}

#secnos7 .titles3 {
  margin-top: 40px;
  margin-bottom: 40px;
}


#secnos7 .carousel-inner,#secnos7 .carousel,
.carousel-item {
  height:100%;
  
  width:100%;
  
}



/*------------------------------ vertical bootstrap slider----------------------------*/

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
  height:20px;
  right:10px; left:auto;
  width:auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.carousel-indicators li{
  display:block; 
  background: #808080;
  margin-bottom:5px; 
  border:1px solid #ffffff; 
  
}
.carousel-indicators li.active{
  margin-bottom:5px; 
  background:#D0DF00;
  
}

#myCarousel .carousel-inner img {

  width: 75%;
  display: block;
  margin: auto;

}

#myCarousel .carousel-inner h2 {

  width: 75%;
  display: block;
  margin:30px auto 0;

}

#myCarousel .carousel-inner p {

  width: 75%;
  display: block;
  margin:20px auto;

}


.btnwhitebg {

  width: 270px;
  display: inline-block;
  margin: 20px 0;
  background-color: #FFFFFF;
  border: 1px solid #D0DF00;
  padding: 10px;

}

.btnwhitebg svg {
  margin-right: 10px;

}

.btnwhitebg:hover {

  background-color: #D0DF00;
  

}

#secnos8 {
  background-color: #D0DF00;
  background-image: url(../img/nosotros/bg-fundac.png);
  background-position:top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 768px;


}

#secnos8 .col-lg-12 {
  margin-top: 10%;
}

#secnos8 img {
  width: 280px;
  margin: 40px auto;
  display: block;
  


}

#secnos8 p {
  width: 75%;
  margin:30px auto;
  


}


#secnos9 {
  background-color: #F5F5F5;
  padding-top: 6em;
  height: 768px;


}

#secnos9 .bgcolor-pgreen p {
  
  padding: 35px 30px 30px;
 


}

.cardteams  {
 text-align: center;
 height: 100%;
}

.cardteams img {
  width: 80px;
  display: block;
  margin: 25px auto 40px; 
}

.cardteams p {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.cardteams a {
  position: relative;
    
    top: 100px;
}

.cardteams a svg {
  margin-right: 10px;
}

.cardteams a:hover {
  color: #D0DF00;
}

.divgreensep {
  background-color: #D0DF00;
  width: 90px;
  height: 3px;
  margin: 30px auto 50px;
  display: block;

}


#secnos10 {
  background-color: #FFFFFF;
  padding-top: 6em;
  padding-bottom: 3em;
  height: auto;


}



.btngreenbg {
  text-align: center;
  width: 230px;
  display: block;
  margin: 20px auto;
  color: #4D532D;
  background-color: #D0DF00;
  border: 1px solid #FFFFFF;
  padding: 10px;
}

.btngreenbg svg {
  margin-right: 10px;
}



/*--------------------------------------------------------------
#  NOSOTROS
--------------------------------------------------------------*/
#inver1 {
  background-image: url(../img/inversionistas/bg-iverprinc.jpg);
  background-position:left center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 50px;
  max-height: 672px  ;
  
}

.nav2inver {
  background-color: #D0DF00;
  background-image: none;
  height: 52px;
}

.nav2inver .linksinver {
  display: block;
  width: fit-content;
  font-size: 14px;
  margin: 0 14px;

}

.nav2inver .navbar-header .navbar-brand {

  opacity: 0;

}

.nav2inver .contnavrig ul{

  display: none;

}

.opacprinlogo {
  
  transition: all 0.1s ease-in;
}

.opaclogo {
  
  transition: all 0.1s ease-in;
}

.uldblock {

  transition: all 0.1s ease-in;

}

.sticky-top1 {
  transition: all 0.1s ease-in;
}

/* style for when sitcky is applied */
.stuck .sticky-top1 {
  background-color: #D0DF00;
  

}

.stuck .opaclogo {
  opacity: 1 !important;
}

.stuck .opacprinlogo{
  opacity: 0 !important;
}

.stuck .uldblock {

  display: flex !important;

}

.sticky-top {
  transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */
.stuck .sticky-top {
  box-shadow: none;
  z-index: 901;
  background:none;
  
 

}

#inver1 .txtf11 {
  font-size: 11px;
}

#inver1 .txtf10 {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 4px;
}

#inver1 .txtdatb {
  margin-bottom: 0;
  font-size: 30px;

}

#inver1 .blefdots {
  border-left: 1px dotted #FFFFFF;
}

/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/

@media (max-width: 450px) {





}/*-END  MOBILE-*/ 






/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {

  color: #FFFFFF;

}

#footer img {

  margin-top: 30px;
  display: block;
  width: 130px;

}

#footer ul {
  list-style: none;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 30px 0 20px;

}

#footer ul li a {
  float: left;
  font-family: Roboto-Regular;
  text-transform: none;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: underline;
  margin-left: 30px;

}

#footer ul li:first-child a:first-child {
  
  margin-left: 0px;

}

#footer ul li a:hover {
  cursor: pointer;
  color: #53565A;
 

}

#footer p {
 color: #FFFFFF;
 font-size: 11px;

}

#footer .contsocialf a {
  
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 20px;
  margin-top: 27px;
  margin-bottom: 14px;
  display: inline-block;
 
 }

 #footer .contsocialf a.btnsocfa {
  
  
  margin-right: 0px;
  
 
 }

 #footer .contsocialf a:hover {
  cursor: pointer;
  color: #53565A;
 

}

#footer .contsocialf .txtdise {
  
  margin-top: 0;
  

}



/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/


@media (max-width: 450px) {


  
}/*-END  MOBILE-*/  

